
#calculator{
    border: 2px solid black;
    
    border-radius: 5px;
    width: 180px;
    
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.button{
    width: 40px;
    height: 50px;
    margin: 3px;
}
